@import "tailwindcss";

@font-face {
	font-family: "Cal Sans";
	src: url("../src/assets/fonts/Cal_Sans/CalSans-Regular.ttf");
}

@font-face {
	font-family: "Inria Serif";
	src: url("../src/assets/fonts/Inria_Serif/InriaSerif-Regular.ttf");
}

@theme {
	--font-cal-sans: "Cal Sans", "sans-serif";
	--font-inria-serif: "Inria Serif", "sans-serif";
}

@layer base {
	html,
	body,
	#root {
		height: 100%;
		width: 100%;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
		padding: 0;
	}

	body {
		font-family: theme("--font-cal-sans");
	}
}

@layer utilities {
	h1 {
		@apply font-cal-sans text-[2.75rem];
	}
	h2 {
		@apply font-cal-sans text-[2rem];
	}
	section[id] {
		scroll-margin-top: 4.5rem;
	}
}

@layer components {
	.branding-logo {
		@apply font-cal-sans text-[3rem] tracking-[-0.15rem] select-none;
	}

	.welcome-text {
		@apply font-inria-serif text-4xl text-black/80;
	}

	.scroll-down-text {
		@apply font-inria-serif text-[1rem] text-black/80;
	}
}

@layer css-custom {
	.app-bg-gradient {
		background: #ffffff;
		background: -webkit-linear-gradient(
			132deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 245, 1) 37%,
			rgba(255, 243, 250, 1) 73%,
			rgba(255, 255, 255, 1) 99%
		);
		background: -moz-linear-gradient(
			132deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 245, 1) 37%,
			rgba(255, 243, 250, 1) 73%,
			rgba(255, 255, 255, 1) 99%
		);
		background: linear-gradient(
			132deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 245, 1) 37%,
			rgba(255, 243, 250, 1) 73%,
			rgba(255, 255, 255, 1) 99%
		);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#FFFFFF", GradientType=0);
		background-attachment: local;
	}

	.app-bg-gradient-rv {
		background: #fffff5;
		background: -webkit-linear-gradient(
			132deg,
			rgba(255, 255, 245, 1) 0%,
			rgba(255, 243, 250, 1) 37%,
			rgba(255, 255, 245, 1) 73%,
			rgba(255, 255, 245, 1) 99%
		);
		background: -moz-linear-gradient(
			132deg,
			rgba(255, 255, 245, 1) 0%,
			rgba(255, 243, 250, 1) 37%,
			rgba(255, 255, 245, 1) 73%,
			rgba(255, 255, 245, 1) 99%
		);
		background: linear-gradient(
			132deg,
			rgba(255, 255, 245, 1) 0%,
			rgba(255, 243, 250, 1) 37%,
			rgba(255, 255, 245, 1) 73%,
			rgba(255, 255, 245, 1) 99%
		);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFF5", endColorstr="#FFFFF5", GradientType=0);
		background-attachment: local;
	}
	.app-bg-gradient-pj {
		background: #ffffff;
		background: -webkit-linear-gradient(
			29deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 243, 250, 1) 16%,
			rgba(255, 255, 245, 1) 53%,
			rgba(255, 255, 245, 1) 100%
		);
		background: -moz-linear-gradient(
			29deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 243, 250, 1) 16%,
			rgba(255, 255, 245, 1) 53%,
			rgba(255, 255, 245, 1) 100%
		);
		background: linear-gradient(
			29deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 243, 250, 1) 16%,
			rgba(255, 255, 245, 1) 53%,
			rgba(255, 255, 245, 1) 100%
		);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#FFFFF5", GradientType=0);
		background-attachment: local;
	}
	.app-bg-gradient-rm {
		background: #ffffff;
		background: -webkit-linear-gradient(
			99deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 243, 250, 1) 19%,
			rgba(255, 248, 248, 1) 58%,
			rgba(255, 255, 245, 1) 82%,
			rgba(255, 255, 245, 1) 100%
		);
		background: -moz-linear-gradient(
			99deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 243, 250, 1) 19%,
			rgba(255, 248, 248, 1) 58%,
			rgba(255, 255, 245, 1) 82%,
			rgba(255, 255, 245, 1) 100%
		);
		background: linear-gradient(
			99deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 243, 250, 1) 19%,
			rgba(255, 248, 248, 1) 58%,
			rgba(255, 255, 245, 1) 82%,
			rgba(255, 255, 245, 1) 100%
		);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#FFFFF5", GradientType=0);
		background-attachment: local;
	}
	.app-bg-gradient-ft {
		background: #ffffff;
		background: -webkit-linear-gradient(
			55deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 243, 250, 1) 19%,
			rgba(255, 248, 248, 1) 58%,
			rgba(255, 255, 245, 1) 82%,
			rgba(255, 255, 245, 1) 100%
		);
		background: -moz-linear-gradient(
			55deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 243, 250, 1) 19%,
			rgba(255, 248, 248, 1) 58%,
			rgba(255, 255, 245, 1) 82%,
			rgba(255, 255, 245, 1) 100%
		);
		background: linear-gradient(
			55deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 243, 250, 1) 19%,
			rgba(255, 248, 248, 1) 58%,
			rgba(255, 255, 245, 1) 82%,
			rgba(255, 255, 245, 1) 100%
		);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#FFFFF5", GradientType=0);
		background-attachment: local;
	}
	.app-bg-gradient-sb {
		background: #ffffff;
		background: -webkit-linear-gradient(
			27deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 248, 248, 1) 58%,
			rgba(255, 255, 245, 1) 82%
		);
		background: -moz-linear-gradient(
			27deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 248, 248, 1) 58%,
			rgba(255, 255, 245, 1) 82%
		);
		background: linear-gradient(
			27deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 248, 248, 1) 58%,
			rgba(255, 255, 245, 1) 82%
		);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#FFFFF5", GradientType=0);
		background-attachment: local;
	}

	.card-list {
		@apply w-full flex flex-wrap gap-5 justify-baseline mt-5 text-center;
	}
	.card {
		@apply h-fit flex flex-col gap-2 items-center p-5 bg-white border border-black/10 duration-100;
	}
	.card-list > .card {
		@apply lg:w-[20%] md:w-[31%] sm:w-[30%] max-sm:w-[30%];
	}
	.card > svg.card-icon {
		@apply lg:w-20 lg:h-20 md:w-15 md:h-15 sm:w-10 sm:h-10 shrink-0;
	}
	p.card-list-header {
		@apply font-bold text-xl;
	}
	.card:has(div.card-progress) {
		@apply relative;
	}
	div.card-progress {
		@apply absolute bottom-0 left-0 h-1;
	}
	div.card-progress.progress-1 {
		@apply w-[20%] bg-red-400;
	}
	div.card-progress.progress-2 {
		@apply w-[40%] bg-orange-400;
	}
	div.card-progress.progress-3 {
		@apply w-[60%] bg-yellow-400;
	}
	div.card-progress.progress-4 {
		@apply w-[80%] bg-green-600;
	}
	div.card-progress.progress-5 {
		@apply w-full bg-green-600;
	}

	.external::after {
		content: " \2197";
	}

	.project {
		@apply lg:w-100 lg:h-120 md:w-90 md:h-110 flex flex-col gap-2 border border-black/10 bg-white duration-150 hover:border-black/40 hover:shadow-md hover:-translate-y-2;
	}
	.project:has(.project-date),
	.project:has(.project-source-code) {
		@apply relative;
	}
	div.project-img {
		@apply w-full h-65 overflow-clip border-b border-black/10 select-none duration-150;
	}
	div.project-img > img {
		@apply w-full h-full;
	}
	div.project img {
		@apply grayscale object-cover;
	}
	div.project:hover img {
		@apply grayscale-0;
	}
	div.project:hover .project-img {
		@apply w-full h-30;
	}
	div.project-img + div.project-content {
		@apply pt-2 px-5 pb-5 space-y-2 overflow-y-hidden hover:overflow-y-scroll hover:overscroll-y-contain;
	}
	div.project-content .project-title,
	div.project-content .project-header {
		@apply font-bold;
	}
	div.project-content .project-title.title-with-star {
		@apply flex flex-row flex-wrap gap-2 items-center font-bold;
	}
	.title-with-star svg {
		@apply w-4 h-4 shrink-0;
	}
	div.project-content .project-text {
		@apply font-light text-wrap text-black/80;
	}
	div.project-content a.project-link {
		@apply underline underline-offset-3 hover:bg-black hover:text-white hover:no-underline active:bg-gray-700 px-2 py-0.5 duration-100;
	}
	div.project-content a.project-link::after {
		content: " \2197";
	}
	.project .project-date {
		@apply absolute w-fit top-0 left-0 px-6 bg-black border-r border-b border-white/50 text-white text-center;
	}
	.project .project-source-code {
		@apply absolute w-fit top-0 right-0 px-6 backdrop-blur-3xl border-l border-b border-black/10 text-black text-center duration-100 hover:bg-black hover:border-white/50 hover:text-white active:bg-gray-700 active:text-white;
	}
	.project .project-source-code p:after {
		content: " \2197";
	}
}

.fade-in {
	animation: fadeIn 0.25s ease-in forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.slide-in {
	animation: slideInRight 0.25s ease-out forwards;
}

@keyframes slideInRight {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
