.slide-bottom {
	animation: fadeInTop 0.2s ease-in forwards;
}

.slide-top {
	animation: fadeInBottom 0.5s ease-in forwards;
}

.slide-left {
	animation: fadeInLeft 0.2s ease-in forwards;
}

@keyframes fadeInTop {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInBottom {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@for $i from 1 through 20 {
	.slide-bottom:nth-child(#{$i}) {
		animation-delay: #{$i * 0.1}s;
	}
	.slide-top:nth-child(#{$i}) {
		animation-delay: #{$i * 0.1}s;
	}
	.slide-left:nth-child(#{$i}) {
		animation-delay: #{$i * 0.1}s;
	}
}
